@import 'variables';

.aviso {
  min-width: 284px;

  color: $secondary-darker-text-color;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-right: 56px;

  b {
    font-weight: 500;
  }

  a {
    color: $link-text-color;
    font-weight: 500;
    text-decoration: none;
  }
}