<div class="skeleton-card flex flex-column xl:flex-row gap-2 xl:align-items-center">
  <div class="flex w-full xl:w-4 xl:flex-column gap-2">
    <p-skeleton class="w-full" width="100%" height="18px" />
    <p-skeleton class="w-full" width="80%" height="18px" />
  </div>

  <div class="flex w-full xl:w-2 xl:flex-column gap-2">
    <p-skeleton class="w-full" width="90%" height="18px" />
    <p-skeleton class="w-full" width="70%" height="18px" />
  </div>

  <div class="flex w-full xl:w-3 xl:flex-column gap-2">
    <p-skeleton class="w-full" width="95%" height="18px" />
    <p-skeleton class="w-full" width="100%" height="18px" />
  </div>

  <div class="flex w-full xl:w-3 xl:flex-column gap-2">
    <p-skeleton class="w-full" width="100%" height="18px" />
    <p-skeleton class="w-full" width="80%" height="18px" />
  </div>

  <div class="ml-3">
    <p-skeleton class="xl:w-3 align-self-center" width="134px" height="32px" />
  </div>
</div>
