@import 'variables';

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;

  @media (min-width: $lg) {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
  }
}

p {
  font-size: 18px;
}

button {
  padding: 0;
  width: fit-content;
  height: fit-content;
  border: none;
  background: transparent;
}

app-icon {
  color: $base-light;
}

.tooltip {
  box-shadow: $elevation-effect-2;
  padding: 16px 8px;

  &.isVisible {
    opacity: 1;
    height: fit-content;
    display: flex;
    animation: isVisible .2s;
  }

  &.isHidden {
    opacity: 0;
    height: 0;
    display: none;
    animation: isHidden .2s;
  }

  app-icon {
    height: fit-content;
    display: block;

    &> ::ng-deep span {
      display: block;
    }
  }
}

@keyframes isVisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    height: fit-content;
  }
}

@keyframes isHidden {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    height: fit-content;
  }

  90% {
    display: flex;
  }
  100% {
    height: 0;
    display: none;
  }
}