@import 'variables';

section {
  padding: 16px 0;
  padding-inline: $horizontal-padding-main-content-sm;
  background-color: $primary-background-light;

  @media (min-width: $md) {
    padding-inline: $horizontal-padding-main-content-md;
    background-color: $background-lighter;
  }

  @media (min-width: $lg) {
    padding: 0 84px 0 $horizontal-padding-main-content;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
  }

  &>div {
    max-width: $max-main-width;
    margin: auto;
  }
}

:host ::ng-deep #carousel-products {
  .p-carousel-item {
    @media (min-width: $lg) {
      flex: none;
      width: calc(100% / 6);
    }
  }
}