<div 
  class="social flex align-items-center justify-content-center lg:justify-content-start gap-4 pt-3 lg:pt-2">
  <a href="https://www.instagram.com/sejacompartilhesaude/" 
    title="Instagram da Compartilhe Saúde"
    target="_blank" rel="noreferrer noopener">
    <img 
      src="/assets/icons/instagram.svg" 
      alt="Instagram da Compartilhe Saúde" 
      title="Instagram da Compartilhe Saúde"
      width="24" height="24" />
  </a>
  <a href="https://www.facebook.com/sejacompartilhesaude" 
    title="Facebook da Compartilhe Saúde"
    target="_blank" rel="noreferrer noopener">
    <img 
      src="/assets/icons/facebook.svg" 
      alt="Facebook da Compartilhe Saúde" 
      title="Facebook da Compartilhe Saúde"
      width="24" height="24" />
  </a>
  <a href="https://www.youtube.com/@sejacompartilhesaude" 
    title="YouTube da Compartilhe Saúde"
    target="_blank" rel="noreferrer noopener">
    <img 
      src="/assets/icons/youtube.svg" 
      alt="YouTube da Compartilhe Saúde" 
      title="YouTube da Compartilhe Saúde"
      width="24" height="24" />
  </a>
  <a href="https://www.linkedin.com/company/sejacompartilhesaude/"
    title="LinkedIn da Compartilhe Saúde"
    target="_blank" rel="noreferrer noopener">
    <img 
      src="/assets/icons/linkedin.svg" 
      alt="LinkedIn da Compartilhe Saúde" 
      title="LinkedIn da Compartilhe Saúde"
      width="24" height="24" />
  </a>
  <a href="mailto:atendimento@compartilhesaude.com.br" 
    title="E-mail da Compartilhe Saúde">
    <img 
      src="/assets/icons/email.svg" 
      alt="E-mail da Compartilhe Saúde" 
      title="E-mail da Compartilhe Saúde"
      width="24" height="24" />
  </a>
</div>

