<div class="w-full hidden w-full xl:align-items-center xl:flex">
  <p-skeleton width="100px" height="100px" shape="circle"></p-skeleton>

  <div class="w-full flex flex-column justify-content-center gap-3 xl:px-3 xl:py-1">
    <p-skeleton width="500px" height="34px"></p-skeleton>

    <div class="w-full flex flex-column xl:flex-row xl:align-items-center gap-2 xl:gap-4">
      <p-skeleton width="120px" height="20px"></p-skeleton>
      <p-skeleton width="220px" height="20px"></p-skeleton>
      <p-skeleton width="300px" height="20px"></p-skeleton>
    </div>
  </div>
</div>
<div class="w-full flex gap-2 xl:align-items-center xl:hidden">
  <p-skeleton width="44px" height="44px" shape="circle"></p-skeleton>

  <div class="w-full flex flex-column justify-content-center gap-3 xl:px-3 xl:py-1 mt-2">
    <p-skeleton width="200px" height="24px"></p-skeleton>

    <div class="w-full flex flex-column xl:flex-row xl:align-items-center gap-2 xl:gap-4">
      <p-skeleton width="120px" height="14px"></p-skeleton>
      <p-skeleton width="220px" height="14px"></p-skeleton>
      <p-skeleton width="200px" height="14px"></p-skeleton>
    </div>
  </div>
</div>