<p-skeleton width="168px" height="17px" styleClass="mb-4"></p-skeleton>

<p-skeleton width="168px" height="55px" styleClass="mb-3"></p-skeleton>

<div class="flex gap-2 mb-2">
  <p-skeleton shape="circle" size="18px"></p-skeleton>

  <div>
    <p-skeleton width="160px" height="15px" styleClass="mb-1"></p-skeleton>
    <p-skeleton width="160px" height="15px"></p-skeleton>
  </div>
</div>

<p-skeleton width="150px" height="150px" styleClass="mb-2"></p-skeleton>

<p-skeleton width="346px" height="17px" styleClass="mb-2"></p-skeleton>
<p-skeleton width="130px" height="17px" styleClass="mb-2"></p-skeleton>
<p-skeleton width="340px" height="17px" styleClass="mb-2"></p-skeleton>
<p-skeleton width="252px" height="17px" styleClass="mb-2"></p-skeleton>
<p-skeleton width="129px" height="17px" styleClass="mb-4"></p-skeleton>
