<div class="flex principal-container justify-content-between">
  <div class="text-container">
    <h2 class="my-0" data-testid="title">
      Mantenha seu sorriso em dia com um check-up odontológico
    </h2>

    <p>
      Ao marcar seu check-up com a Compartilhe Sorrisos, proporcionamos uma avaliação odontológica
      abrangente. Detectamos doenças bucais, identificamos fatores de risco e corrigimos problemas
      antes que se agravem. Além disso, incluímos a limpeza dos dentes para garantir uma boa
      aparência e um sorriso saudável.
    </p>

    <a
      [href]="getWhatsAppLink()"
      title="Quero agendar"
      class="no-underline p-button p-button-secondary p-button-outlined"
      target="_blank" rel="noreferrer noopener">
      Quero agendar
    </a>
  </div>

  <figure class="mx-0 my-0">
    <img
      ngSrc="/CHECK-UP+ODONTOL%C3%93GICO.jpg"
      alt="Homem de cabelos escuros usando máscara e luvas brancas aparece realizando procedimento
      em um paciente que está deitado com sua boca aberta."
      title="Check-up odontológico"
      width="100"
      height="100" />
  </figure>
</div>
