@import 'variables';

header {
  gap: 10px;

  a {
    cursor: pointer;

    color: $primary-darker;

    &:hover {
      color: $primary-dark;
    }
  }

  h1 {
    font-size: 36px;
    line-height: 100%;
  }
}

:host ::ng-deep .tabview-dados-pessoais {
  .p-tabview-nav {
    border: none;

    .p-tabview-nav-link {
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;

      @media (max-width: $lg) {
        padding: 4px;
      }
    }

    li.p-highlight .p-tabview-nav-link {
      color: $primary-darker;
    }
  }

  .p-tabview-panels {
    flex-grow: 1;
    min-height: 0;

    padding: 0;
    padding-block: 8px;

    .p-tabview-panel {
      height: 100%;

      padding: 24px;

      overflow: hidden;

      border-radius: 10px;

      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

:host ::ng-deep {
  app-select,
  app-autocomplete {
    label {
      margin-bottom: 0;
    }
  }
}
