@import 'variables';

app-icon {
  color: $primary-darker;
}

.container {
  display: flex;
  gap: 3px;
  align-items: center;

  margin-top: 24px;
  @media (min-width: $xl) {
    margin-top: 32px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  > div {
    display: flex;
    flex-direction: column;

    p,
    strong {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
