<section class="w-full quem-somos">
  <div class="flex flex-column-reverse lg:flex-row conteudo">
    <iframe
      src="https://www.youtube-nocookie.com/embed/SXeZRiiZy0s"
      title="QUEM SOMOS"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      loading="lazy"
      allowfullscreen>
    </iframe>

    <div class="flex flex-column">
      <h2>Quem somos</h2>

      <p>
        A Compartilhe Saúde nasceu da amizade entre médicos, unidos por um objetivo: tornar a saúde acessível. Muito
        mais do que uma plataforma de saúde, somos uma comunidade dedicada a melhorar a qualidade de vida das pessoas.
        Nosso compromisso é conectar você aos melhores prestadores de serviços de saúde, oferecendo descontos exclusivos 
        em uma ampla gama de cuidados médicos, desde consultas e exames até cirurgias, procedimentos e odontologia.
      </p>
    </div>
  </div>
</section>
