:host {
  width: 100%;
}

.toast {
  .titulo {
    font-size: 14px;
    font-weight: 600;
  }

  .descricao {
    font-size: 12px;
    font-weight: 400;
  }
}

::ng-deep .toast {
  app-button .p-button {
    padding: 8px;
  }
}