<p-toast id="cadastro-toast">
  <ng-template let-message pTemplate="message">
    <app-toast-content [message]="message"></app-toast-content>
  </ng-template>
</p-toast>

<app-page-title
  titulo="Cadastro Rede Compartilhe"
  [returnPath]="['/', 'admin', 'dashboard', 'rede-compartilhe']"
  [breadcrumbData]="breadcrumb">
</app-page-title>

<section class="w-full mt-3" id="form-profissional">
  <form (submit)="pathId ? onSubmitAlterar($event) : onSubmitCadastrar($event)">
    <div class="flex gap-5 mb-3">
      <app-form-situacao [formGroup]="formParceiro" />
      <app-form-destaque [formGroup]="formParceiro" />
    </div>
    <p-tabView styleClass="tabview-dados-gerais h-full flex flex-column mb-5" id="form-pessoas">
      <p-tabPanel header="Dados gerais">
        <ng-template pTemplate="content">
          <section class="flex flex-column gap-4 mt-3">
            <app-form-modalidade
              [formGroup]="formParceiro"
              [options]="radioOptions">
            </app-form-modalidade>

            <app-form-dados-profissional />

            <app-form-endereco
              [data]="cidade"
              [formGroup]="formEndereco"
              tooltipContent="Informe aqui os dados de endereço pessoal do profissional de saúde."
              (changeForm)="$event && formService.save()">
            </app-form-endereco>
          </section>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header="Dados profissionais">
        <ng-template pTemplate="content">
          <section class="flex flex-column gap-4 mt-3">
            <app-form-informacoes-profissionais [formGroup]="formParceiro"/>
            
            <app-form-redes-sociais [formGroup]="formParceiro"/>
          </section>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header="Dados de atendimento">
        <ng-template pTemplate="content">
          <section class="mt-3">
            <app-form-dados-atendimento />
          </section>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header="Dados financeiros">
        <ng-template pTemplate="content">
          <section class="flex flex-column gap-4 mt-3">
            <app-form-seller-id [formGroup]="formParceiro" />

            <app-form-dados-bancarios [formGroup]="formParceiro" />
          </section>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header="Conteúdo">
        <ng-template pTemplate="content">
          <section class="flex flex-column gap-4 mt-3">
            <app-form-tabela-conteudo [categoriaParceiro]="categoriaParceiro.PROFISSIONAL_SAUDE" />
          </section>
        </ng-template>
      </p-tabPanel>
    </p-tabView>

    <app-button
      label="Salvar"
      type="submit"
      size="small"
      [loading]="isLoading"
      [disabled]="formService.isDisableSubmit">
    </app-button>
  </form>
</section>
