<span class="flex flex-column w-full" id="input-number">
  <span>
    <ng-container *ngIf="label">
      <label [htmlFor]="name" [ngClass]="{ 'p-sr-only': labelSrOnly }">
        {{ label }}
      </label>
    </ng-container>

    <ng-container *ngIf="tooltipContent">
      <app-tooltip class="ml-1" [content]="tooltipContent" />
    </ng-container>
  </span>

  <span class="flex flex-column p-input-icon-left">
    <input
      #input
      pInputText
      [value]="value"
      [disabled]="disabled"
      [attr.formControlName]="formControlName"
      [id]="name"
      [name]="name"
      [placeholder]="placeholder"
      type="text"
      (input)="onInputTextChange($event)"
      (blur)="onTouched()"
      (focusout)="setValue($event)"
      autocomplete="off" />

    <ng-container *ngIf="prefix">
      <i>
        <span class="prefix p-input-icon-left">{{ prefix }}</span>
      </i>
    </ng-container>
  </span>

  <ng-container *ngIf="errorMessage || forceErrorMessage">
    <small [ngStyle]="{ 'margin-bottom': errorMarginBottom }">
      {{ errorMessage ?? forceErrorMessage }}
    </small>
  </ng-container>
</span>