@import 'variables';

.prefix {
  font-size: 16px;
  font-weight: 500;
  line-height: 21.7px;
  text-align: left;
  color: $base-light;
  font-style: normal;
}

::ng-deep #input-number {
  .p-input-icon-left>i {
    top: 20%;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .p-inputtext {
    width: 100%;
  }
}