.p-dialog[aria-modal='true'] {
  border-radius: 16px;

  .p-dialog-header {
    border: none;
  }

  .p-dialog-footer {
    border: none;
  }

  .p-dialog-content {
    border-radius: 16px;
    padding: 60px 20px;
  }
}
