<section>
  <div>
    <h2>Nossa História</h2>
  
    <div class="content">
      <div>
        <p>
          A Compartilhe Saúde começou como uma página de rede social porque acreditamos que o primeiro
          passo para multiplicar era conectar. Mas não estamos falando de conexões entre computadores
          e dispositivos, mas sim entre pessoas.
        </p>
  
        <p>
          Hoje, a Compartilhe Saúde é mais do que uma simples marca digital que compartilha
          informações sobre saúde; ela é um símbolo de acesso facilitado à saúde de alta qualidade,
          dedicação à comunidade e parcerias que realmente fazem a diferença na vida das pessoas.
        </p>
      </div>
  
      <figure>
        <img
          ngSrc="/assets/Images/content/sobre-nos/nossa-historia-erasmo-vitor.jpg"
          alt="Dois homens jovens que usam óculos, com sorriso no rosto, estão lado a lado vestidos de camiseta azul com os dizeres: comunidade, conexão e cuidado."
          title="Nossa historia Erasmo e Vitor"
          width="100"
          height="100" />
        <figcaption>
          Fundadores Vittor Serrão Margotto - Médico Radiologista e Erasmo Xavier de Britto - Médico
          Oncologista
        </figcaption>
      </figure>
    </div>
  </div>
</section>
