<span class="flex flex-column" [ngClass]="{'invalid': !valid}">
  <label *ngIf="label" [htmlFor]="name" [ngClass]="{ 'p-sr-only': labelSrOnly }">{{ label }}</label>

  <span class="flex flex-column p-input-icon-right">
    <input
      pInputText
      [value]="value"
      [disabled]="disabled"
      [attr.formControlName]="formControlName"
      [id]="name"
      [name]="name"
      [type]="isMasked ? 'password' : 'text'"
      [placeholder]="placeholder"
      (input)="onInputPasswordChange($event)"
      (blur)="onTouched()" />

    <i>
      <button (click)="toggleMask()" type="button">
        <app-icon iconName="visibility" verticalAlign="baseline" *ngIf="isMasked" />
        <app-icon iconName="visibility_off" verticalAlign="baseline" *ngIf="!isMasked" />
      </button>
    </i>
  </span>

  <small *ngIf="errorMessage" [ngStyle]="{ 'margin-bottom': errorMarginBottom }">{{
    errorMessage
  }}</small>
</span>