<div class="wrapper flex flex-column align-items-start">
  <div class="flex flex-column w-full mb-3 gap-10px">
    <p-skeleton class="w-full hidden xl:inline" width="46%" height="32px" />
    <p-skeleton class="w-full inline xl:hidden" width="83%" height="24px" />
    <p-skeleton class="w-full inline xl:hidden" width="53%" height="24px" />
  </div>

  <div class="flex flex-column xl:flex-row w-full">
    <div class="gap-10px w-full xl:w-7 flex flex-column mt-3 mb-2">
      <p-skeleton class="w-full hidden xl:inline" width="31%" height="24px" />
      <p-skeleton class="w-full hidden xl:inline" width="89%" height="24px" />
      <p-skeleton class="w-full hidden xl:inline" width="31%" height="24px" />

      <p-skeleton class="w-full mt-1 hidden xl:inline" width="89%" height="134px" />

      <p-skeleton class="w-full inline xl:hidden" width="42%" height="24px" />
      <p-skeleton class="w-full inline xl:hidden" width="93%" height="24px" />
      <p-skeleton class="w-full inline xl:hidden" width="50%" height="24px" />
      <p-skeleton class="w-full inline xl:hidden" width="42%" height="24px" />

      <p-skeleton class="w-full mt-1 inline xl:hidden" width="93%" height="64px" />
    </div>

    <p-skeleton class="hidden xl:inline" width="2px" height="288px" />

    <div class="w-full xl:w-5 flex flex-column justify-content-between mt-3 xl:ml-5">
      <div class="w-full flex flex-column gap-10px mb-2 xl:mb-0">
        <p-skeleton class="w-full hidden xl:inline" width="43%" height="24px" />
        <p-skeleton class="w-full hidden xl:inline" width="82%" height="24px" />

        <p-skeleton class="w-full inline xl:hidden" width="42%" height="24px" />
        <p-skeleton class="w-full inline xl:hidden" width="93%" height="24px" />
      </div>
      <p-skeleton class="w-full mb-5 hidden xl:inline" width="45%" height="48px" />

      <p-skeleton 
        class="mx-auto mt-5 mb-3 xl:ml-0 xl:mb-5 inline xl:hidden" 
        width="126px" 
        height="28px">
      </p-skeleton>
    </div>
  </div>
</div>