@import 'variables';

.depoimentos {
  padding-inline: $horizontal-padding-main-content-sm;

  @media (min-width: $md) {
    padding-inline: $horizontal-padding-main-content-md;
  }

  @media (min-width: $lg) {
    padding-inline: $horizontal-padding-main-content;
  }

  h2 {
    margin-bottom: 20px;
    color: $secondary-darker;
  
    @media (min-width: $lg) {
      margin-bottom: 40px;
    }
  }

  &>div {
    max-width: $max-main-width;
    margin: auto;
  }
}

::ng-deep {
  @media (min-width: $xl) {
    .depoimentos .carousel .p-carousel-indicators .p-carousel-indicator {
      display: none;
    }
  }
}