@import 'variables';

section {
  padding: 83px 98px;

  @media (max-width: $md) {
    padding-top: 42px;
    padding-inline: 24px;
    padding-bottom: 35px;
  }

  &>div {
    max-width: $max-main-width;
    margin: auto;
  }
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
}
