@import 'variables';
@import 'mixins';

$patternPaddingMobile: 24px;
$patternPaddingDesktop: 24px;

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 51px;

  @include mainPadding($patternPaddingDesktop, $horizontal-padding-main-content);
  margin-bottom: 48px;

  @media (max-width: $sm) {
    @include mainPadding($patternPaddingMobile, $horizontal-padding-main-content-sm);
    margin-bottom: 20px;
  }

  @media (min-width: $sm) and (max-width: $xl) {
    @include mainPadding($patternPaddingMobile, $horizontal-padding-main-content-md);
  }

  &>div {
    max-width: $max-main-width;
    margin-inline: auto;
  }
}

h2 {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
}

