<main class="grid grid-nogutter justify-content-center gap-4">
  <div class="col-12 grid grid-nogutter gap-3 flex-column-reverse md:flex-row md:gap-4">
    <ng-container *ngIf="carrinho">
      <section class="col-12 md:col-8 md:flex-1">
        <h2 class="mb-3 hidden md:inline">Pagamento</h2>

        <app-selecionar-forma-pagamento 
          [erroCartaoCredito]="erroCartaoCredito"
          (formaPagamento)="formaPagamento = $event" />

        <app-badge-pagamento-seguro />
      </section>

      <section class="col-12 flex flex-column md:col-4 xl:mr-7">
        <ng-container *ngIf="carrinho; else skeleton">
          <h2>Resumo da compra</h2>

          <div class="flex flex-column gap-3">
            <ng-container *ngFor="let item of carrinho">
              <app-card-resumo-compra [data]="item" />
            </ng-container>
          </div>

          <div class="hidden md:block mt-3">
            <ng-container [ngTemplateOutlet]="totalTemplate" />
          </div>
        </ng-container>
      </section>
    </ng-container>
  </div>

  <div class="col-12 md:hidden md:justify-content-end">
    <ng-container [ngTemplateOutlet]="totalTemplate" />
  </div>
</main>

<ng-template #totalTemplate>
  <app-total 
    class="mt-4 p-0 md:col-4" 
    [botaoHabilitado]="botaoFinalizarCompraHabilitado"
    (finalizarCompra)="salvarPedido()" 
    [qtdParcelas]="qtdParcelas" 
    [formaPagamento]="formaPagamento" />
</ng-template>

<ng-template #skeleton>
  <app-skeleton-resumo-compra />
</ng-template>

<app-loading-modal [visible]="loadingModalVisible"
  message="Estamos confirmando o seu pagamento">
</app-loading-modal>